fastapi
uvicorn[standard]
python-multipart
python-dotenv
fpdf
sentence-transformers
qdrant-client
python-docx
pdfplumber
watchdog
requests
bs4
httpx
openpyxl
pandas
psutil
pycaw
screen-brightness-control
python-pptx
pyautogui
edge-tts
sounddevice
miniaudio
soundfile
webrtcvad
aiohttp
onnx-asr
vosk
keyboard
onnxruntime==1.23.0
cerebras-cloud-sdk
pathlib